<!DOCTYPE html>
<html>
<head>
	<title>Inventory</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Inventory</h1>

    <h2>Order books</h2>

    <form action="/inventory" method="post">
        <label for="isbn">ISBN:</label>
        <select id="isbn" name="isbn">
            {% for book in books %}
            <option value="{{ book.isbn }}">{{ book.title }}</option>
            {% endfor %}
        </select><br>

        <label for="store_id">Store ID:</label>
        <select id="store_id" name="store_id">
            {% for store in stores %}
            <option value="{{ store.id }}">{{ store.name }}</option>
            {% endfor %}
        </select><br>

        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity"><br>

        <input type="submit" value="Order">
    </form>

    <table>
        <thead>
            <tr>
                <th>Store ID</th>
                <th>ISBN</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory in results %}
            <tr>
                <td>{{ inventory.StoreID }}</td>
                <td>{{ inventory.isbn13 }}</td>
                <td>{{ inventory.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>
