<!DOCTYPE html>
<html>
<head>
	<title>Transactions</title>
	<style>
		table {
			border-collapse: collapse;
			width: 100%;
		}

		th, td {
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}

		.container {
			display: flex;
			justify-content: flex-end;
			padding: 10px;
			margin-top: 20px;
		}

		.total-sales {
			font-size: 18px;
			font-weight: bold;
			text-align: right;
		}
	</style>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
		<h1>Transactions</h1>
	  
		<h2>New Purchase</h2>
	  
		<form action="/transactions" method="post">
		  <label for="isbn">ISBN:</label>
		  <select id="isbn" name="isbn">
			{% for book in books %}
			  <option value="{{ book.isbn }}">{{ book.title }}</option>
			{% endfor %}
		  </select><br>
	  
		  <label for="store_id">Store ID:</label>
		  <select id="store_id" name="store_id">
			{% for store in stores %}
			  <option value="{{ store.id }}">{{ store.name }}</option>
			{% endfor %}
		  </select><br>
	  
		  <label for="customer_id">Customer ID:</label>
		  <select id="customer_id" name="customer_id">
			{% for customer in customers %}
			  <option value="{{ customer.id }}">{{ customer.name }}</option>
			{% endfor %}
		  </select><br>
	  
		  <label for="quantity">Quantity:</label>
		  <select id="quantity" name="quantity">
			{% for i in range(1, 11) %}
			  <option value="{{ i }}">{{ i }}</option>
			{% endfor %}
		  </select><br>
	  
		  <input type="submit" value="Purchase">
		</form>
	  
		<p>{{ message }}</p>
	  
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Transaction Date</th>
				<th>Customer ID</th>
				<th>ISBN13</th>
				<th>Store ID</th>
				<th>Quantity</th>
				<th>Total Cost</th>
			</tr>
		</thead>
		<tbody>
			{% for transaction in results %}
			<tr>
				<td>{{ transaction.id }}</td>
				<td>{{ transaction.transaction_date }}</td>
				<td>{{ transaction.CustomerID }}</td>
				<td>{{ transaction.isbn13 }}</td>
				<td>{{ transaction.StoreID }}</td>
				<td>{{ transaction.quantity }}</td>
				<td>{{ transaction.total_cost }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="container">
		<p class="total-sales">{{ total_sales }}</p>
	</div>
	{% endblock %}
</body>
</html>
